<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow: hidden">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director (View manager)</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/css/delete.css" th:href="@{/css/delete.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}">
</head>
<body style="background: linear-gradient(
45deg, #1a2d3d, #7094ce)">
<header class="sticky">
    <img src="/static/images/header.jpeg" th:src="@{/images/header.jpeg}" class="banner">
    <a href="/director" class="logo">CHECKIT.</a>
</header>
<div class="container" style="width: 60%;top: -100px">
    <div class="front side" style="height: 600px; margin-top: -100px" th:each="el:${manager}">
        <h1 class="text-center">Manager</h1>
        <br>
        <h2 th:text="${el.name}"></h2>
    </div>
    <div class="back side" style="height: 600px; margin-top: -100px">
        <div class="content">
            <h1>Manager redigieren</h1>
            <form th:each="el:${manager}" method="post" autocomplete="off">
                <label>Vollständiger Name:</label>
                <input type="text" th:value="${el.name}" name="name" placeholder="Vor- und Nachname eingeben">
                <label>Zeitplan:</label>
                <input type="text" th:value="${el.time_of_work}" name="time_of_work" placeholder="Zeitplan eingebe" >
                <label>Wochenende:</label>
                <input type="text" th:value="${el.weekend}" name="weekend" placeholder="Wochenende eingeben" >
                <label>Gehalt:</label>
                <input type="text" th:value="${el.salary}" name="salary" placeholder="Gehalt eingeben" >
                <input type="submit" value="Fertig">
            </form>
        </div>
    </div>
</div>

<script src="/static/js/index.js" th:src="@{/js/index.js}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>