<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Director</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.bundle.js" th:href="@{/bootstrap.bundle.js}">
  <link rel="stylesheet" type="text/css" href="/static/js/main.js" th:href="@{/js/main.js}">
  <link rel="stylesheet" type="text/css" href="/static/css/director.css" th:href="@{/css/director.css}">


  <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<form th:action="@{/logout}" method="post" style="position: fixed;z-index: 1; top: 600px; right: 40px;">
  <button style="width: 60px; height: 60px; border-radius: 50%;background: crimson; color: black; font-size: 24px" class="text-center" name="logout" value="logout" type="submit"><ion-icon  name="log-out-outline"></ion-icon></button>
</form>

<section>
  <img src="/static/images/city.jpg" th:src="@{/images/city.jpg}" id="bg" width="2049" height="1152">
  <h2 id="text">Direktor</h2>
  <img src="/static/images/me.png" th:src="@{/images/me.png}" id="man" width="2049" height="1152">
  <img src="/static/images/left.png" th:src="@{/images/left.png}" id="left" width="2049" height="1152">
  <img src="/static/images/right.png" th:src="@{/images/right.png}" id="right" width="2049" height="1152">
</section>


<div class="function" id="function">
  <div class="menu">
    <div class="toggle"><ion-icon name="add-outline"></ion-icon></div>
    <li style="--i:0;">
      <a href="/director/list"><ion-icon name="list-outline"></ion-icon></a>
    </li>
    <li style="--i:1;">
      <a href="/director/add/manager"><ion-icon name="person-add-outline"></ion-icon></a>
    </li>
    <li style="--i:2;">
      <a href="/director/add/worker"><ion-icon name="accessibility-outline"></ion-icon></a>
    </li>
    <li style="--i:3;">
      <a href="/director/delete"><ion-icon name="close-circle-outline"></ion-icon></a>
    </li>
    <li style="--i:4;">
      <a href="/director/change"><ion-icon name="construct-outline"></ion-icon></a>
    </li>
  </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js}"></script>

<script>

  gsap.to("#bg", {
    scrollTrigger : {
      scrub : 1
    },
    scale : 1.5
  });

  gsap.to("#man", {
    scrollTrigger : {
      scrub : 1
    },
    scale : 0.5
  });

  gsap.to("#left", {
    scrollTrigger : {
      scrub : 1
    },
    x : -500,
  });

  gsap.to("#right", {
    scrollTrigger : {
      scrub : 1
    },
    x : 500,
  });

  gsap.to("#text", {
    scrollTrigger : {
      scrub : 1
    },
    y : 500,
  });

</script>
<script>
  let toggle = document.querySelector('.toggle');
  let menu = document.querySelector('.menu');
  toggle.onclick = function() {
    menu.classList.toggle('active')
  }
</script>

</body>
</html>