<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director (Add new manager)</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" th:href="@{/css/form.css}">
</head>
<body>
<header>
    <img src="/static/images/header.jpeg" th:src="@{/images/header.jpeg}" class="banner">
    <a href="/director" class="logo">CHECKIT.</a>
</header>

<div class="containerr">
    <div class="title">Add A New Manager</div>
    <form action="/director/add/manager" method="post" autocomplete="off">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Full Name</span>
                <input type="text" name="name" placeholder="Enter name and surname" required>
            </div>
            <div class="input-box">
                <span class="details">Username</span>
                <input type="text" name="username" placeholder="Enter Username" required>
            </div>
            <div class="input-box">
                <span class="details">Password</span>
                <input type="text" name="password" placeholder="Enter password" required>
            </div>
            <div class="input-box">
                <span class="details">Salary</span>
                <input type="text" name="salary" placeholder="Enter salary" required>
            </div>
            <div class="input-box">
                <span class="details">Schedule</span>
                <input type="text" name="time_of_work" placeholder="Enter schedule" required>
            </div>
            <div class="input-box">
                <span class="details">Weekend</span>
                <input type="text" name="weekend" placeholder="Enter weekend" required>
            </div>
        </div>
        <div class="button text-center">
            <button class="btn btn-info" type="submit" value="Add">Add</button>
        </div>
    </form>
</div>


<script>
    window.addEventListener('scroll',function(){
        const header = document.querySelector('header');
        header.classList.toggle('sticky', window.scrollY > 0);
    });
</script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" ></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>


</body>
</html>