<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Director add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.bundle.js" th:href="@{/bootstrap.bundle.js}">
    <link rel="stylesheet" type="text/css" href="/static/js/main.js" th:href="@{/js/main.js}">
    <link rel="stylesheet" type="text/css" href="/static/css/director.css" th:href="@{/css/director.css}">


    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>


<section>
    <img src="/static/images/city.jpg" th:src="@{/images/city.jpg}" id="bg" width="2049" height="1152">
    <h2 id="text">Director</h2>
    <img src="/static/images/me.png" th:src="@{/images/me.png}" id="man" width="2049" height="1152">
    <img src="/static/images/left.png" th:src="@{/images/left.png}" id="left" width="2049" height="1152">
    <img src="/static/images/right.png" th:src="@{/images/right.png}" id="right" width="2049" height="1152">
</section>

<div class="container w">
    <div class="row">
        <div class="col-md-12">
            <h1>Who do you want to add?</h1>
        </div>
    </div>
    <div class="row centered">
        <br> <br> <br>
        <div class="col-lg-6">
            <a href="/director/add/manager"><img src="/static/images/HR.png" th:src="@{/images/HR.png}" alt="HR-Manager" height="200px"></a>
            <h1>HR manager</h1>
            <p>Click on the photo of HR-Manager if you want to add him</p>
        </div>

        <div class="col-lg-6">
            <a href="/director/add/worker"><img src="/static/images/employee.png" th:src="@{/images/employee.png}" alt="Worker" height="200px"></a>
            <h1>Worker</h1>
            <p>Click on the photo of Worker if you want to add him</p>
        </div>
    </div>
    <br><br>
</div>

</body>
</html>