<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/images/HR.png" rel="icon" th:href="@{images/HR.png}">
    <title>Director (Add new manager)</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/css/style1.css" th:href="@{/css/style1.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/form.css" th:href="@{/css/form.css}">
</head>
<body>
<header >
    <img src="/static/images/header.jpeg" th:src="@{/images/header.jpeg}" class="banner">
    <a href="/director" class="logo">CHECKIT.</a>
</header>
<div class="container" style="position: static">
    <div class="row">
        <div class="col-lg-6">
            <h1>Managers</h1>
            <div th:each="el:${managers}" class="alert alert-info mt-2" style="position: static">
                <h3 th:text="${el.name}"></h3>
                <form th:action="'/director/manager/' + ${el.id}+'/remove'" method="post">
                    <input type="submit" class="btn-danger" onclick='return confirm("Are your sure you want to continue?");' value="Remove">
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <h1>Workers</h1>
            <div th:each="el:${workers}" class="alert alert-info mt-2" style="position: static">
                <h3 th:text="${el.name}"></h3>
                <form th:action="'/director/worker/' + ${el.id}+'/remove'" method="post">
                    <input class="btn-danger" type="submit" onclick='return confirm("Are your sure you want to continue?");' value="Remove">
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    window.addEventListener('scroll',function(){
        const header = document.querySelector('header');
        header.classList.toggle('sticky', window.scrollY > 0);
    });
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/index.js" th:src="@{/js/index.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>