<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/images/HR.png" rel="icon" th:href="@{images/HR.png}">
	<title>HR (Add new worker)</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

	<link rel="stylesheet" type="text/css" href="/static/css/header.css" th:href="@{/css/header.css}">
	<link rel="stylesheet" type="text/css" href="/static/css/form.css" th:href="@{/css/form.css}">
</head>
<body>

<header>
	<img src="/static/images/header.jpeg" th:src="@{/images/header.jpeg}" class="banner">
	<a href="/HR" class="logo">CHECKIT.</a>
</header>

<div class="containerr">
	<div class="title">Einen neuen Arbeiter hinzufügen</div>
	<form action="/HR/add" method="post" autocomplete="off">
		<div class="user-details">
			<div class="input-box">
				<span class="details">Vollständiger Name</span>
				<input type="text" name="name" placeholder="Vor- und Nachname eingeben" required>
			</div>
			<div class="input-box">
				<span class="details">Nutzername</span>
				<input type="text" name="username" placeholder="Nutzername eingeben" required>
			</div>
			<div class="input-box">
				<span class="details">Passwort</span>
				<input type="text" name="password" placeholder="Passwort eingeben" required>
			</div>
			<div class="input-box">
				<span class="details">Gehalt</span>
				<input type="text" name="salary" placeholder="Gehalt eingeben" required>
			</div>
			<div class="input-box">
				<span class="details">Zeitplan</span>
				<input type="text" name="time_of_work" placeholder="Zeitplan eingeben" required>
			</div>
			<div class="input-box">
				<span class="details">Wochenende</span>
				<input type="text" name="weekend" placeholder="Wochenende eingeben" required>
			</div>
		</div>
		<div class="button text-center">
			<button class="btn btn-info" type="submit" value="Add">Hinzufügen</button>
		</div>
	</form>
</div>
</body>
<script>
	window.addEventListener('scroll',function(){
		const header = document.querySelector('header');
		header.classList.toggle('sticky', window.scrollY > 0);
	});
</script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" th:src="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>
</html>