<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="images/icon.jpeg" rel="icon">
	<title>Personnel Accounting</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}">
    <link rel="stylesheet" type="text/css" href="/static/js/main.js" th:href="@{/js/main.js}">

	<link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<header>
	<div class="navigation">
		<ul>
			<li class="list active">
				<a href="#main">
					<span class="icon">
						<ion-icon name="home-outline"></ion-icon>
					</span>
					<span class="text">Hauptseite</span>
				</a>
			</li>
			<li class="list">
				<a href="#about">
					<span class="icon">
						<ion-icon name="book-outline"></ion-icon>
					</span>
					<span class="text text-capitalize">über</span>
				</a>
			</li>
			<li class="list">
				<a href="#body1">
					<span class="icon">
						<ion-icon name="person-outline"></ion-icon>
					</span>
					<span class="text">Konten</span>
				</a>
			</li>
			<li class="list">
				<a href="#contact">
					<span class="icon">
						<ion-icon name="mail-outline"></ion-icon>
					</span>
					<span class="text">Kontakt</span>
				</a>
			</li>
			<li class="list">
				<a href="/login">
					<span class="icon">
						<ion-icon name="log-in-outline"></ion-icon>
					</span>
					<span class="text">Login</span>
				</a>
			</li>
			
			<div class="indicator"></div>
		</ul>
	</div>
</header>


<div class="main" id="main">
	<div class="navbar">
		<div class="icon1">
			<h2 class="logo"><div class="brand"><h1><span>C</span>heck<span>IT</span></h1></div></h2>
		</div>
	</div>

	<br>
	<br>

	<div class="content">
		<h1>Personalbuchhaltung</h1>
		<p class="par">Die Personalbuchhaltung bezieht sich auf den Aufbau von Arbeitsbeziehungen zwischen <br> einem Arbeitgeber und einem Arbeitnehmer. Es umfasst die Registrierung von Urlaub, Steuerabzüge, Einstellung und Entlassung. Die Personalbuchhaltung ist für jedes Unternehmen verpflichtend, ohne <br> Ausnahmen in Bezug auf Organisations- und Rechtsform und Mitarbeitergröße</p>

		<button class="cn"><a href="#about">LERN MEHR</a></button>
	</div>
</div>
	
	
<section class="about" id="about">
	<div class="contentBx">
		<h2 class="heading">Über uns</h2>
		<p class="text">Die Personalbuchhaltung ist die gesetzlich geregelte Tätigkeit der Registrierung, Abrechnung und Überwachung der Mitarbeiterbewegungen des Unternehmens. Dabei geht es um die Dokumentation von Aufnahme, Versetzung und Entlassung von Mitarbeitern, Krankenstand, Dienstreisen, Stundenzettel, Urlaub, Personalausweis. Einige Formen sind vereinheitlicht, andere werden im Unternehmen entwickelt.
		<br>
		<br>
			Die Personalbuchhaltung wird auf Basis der primären Personaldokumentation und interner Regelungen des Unternehmens geführt. Personalreferenten orientieren sich bei ihrer Arbeit in erster Linie am Arbeitsgesetzbuch. Außer ihm gibt es mehrere andere grundlegende Quellen.
		</p>
	</div>
	<div class="imgBx">
		<img src="images/note1.jpg" width="350" height="350" style="position: absolute; top: 60px; right: 200px; border-radius: 20%;">
	</div>
</section>

<div class="body1" id="body1">
	<div class="container1">
		<div class="card">
			<div class="content1">
				<h2>Direktor</h2>
				<p>Direktor müssen alle Berichte sehen und darauf zugreifen können, die Möglichkeit haben, einige Ausgaben zu löschen, zu aktualisieren, einen Mitarbeiter zu löschen.</p>
			</div>
			<img src="images/Aidar.png">
		</div>
		<div class="card">
			<div class="content1">
				<h2>HR Manager</h2>
				<p>HR Manager eine Vorstellung von Mitarbeitern haben, einen neuen Mitarbeiter hinzufügen, löschen, Personaländerungen vornehmen usw.</p>
			</div>
			<img src="images/Ersa.png">
		</div>
		<div class="card">
			<div class="content1">
				<h2>Arbeiter</h2>
				<p>Die Arbeitnehmer der Organisation müssen in der Lage sein, ihren Arbeitsplan, ihre Löhne und, wenn es einen Bonus gibt, auch ihren Bonus zu sehen.</p>
			</div>
			<img src="images/Isma.png">
		</div>
	</div>
</div>

<br>
<section id="contact">
	<div class="contact container">
		<div><h1 class="section-title" style="font-size: 3rem;">Kontakt<span>Information</span></h1></div>
		<div class="contact-items">
			<div class="contact-item">
				<div class="icon"><img src="images/phone.png"></div>
				<div class="contact-info">
					<h1>Telefon</h1>
					<h2>+996 (500) 174-535</h2>
					<h2>+996 (755) 069-551</h2>
					<h2>+996 (556) 755-330</h2>
				</div>
			</div>
			<div class="contact-item">
				<div class="icon"><img src="images/mail.png"></div>
				<div class="contact-info">
					<h1>Email</h1>
					<h2>ersultan270502@gmail.com</h2>
					<h2>sharshenkulov.1@gmail.com</h2>
					<h2>iahmetov02@gmail.com</h2>
				</div>
			</div>
			<div class="contact-item">
				<div class="icon"><img src="images/address.png"></div>
				<div class="contact-info">
					<h1>Die Anschrift</h1>
					<h2>Bishkek, Kyrgyzstan</h2>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93561.92088029464!2d74.52182105666849!3d42.876853704090614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6!5e0!3m2!1sru!2skg!4v1639466059864!5m2!1sru!2skg" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="footer">
	<div class="footer container">
		<div class="brand"><h1><span>C</span>heck<span>IT</span></h1></div>
		<br>
		<div class="social-icon">
			<div class="social-item">
				<a href="#"><img src="images/instagram.png"></a>
			</div>
			<div class="social-item">
				<a href="#"><img src="images/twitter.png"></a>
			</div>
			<div class="social-item">
				<a href="#"><img src="images/facebook.png"></a>
			</div>
		</div>
		<p>Copyright © ERISA. All right reserved</p>
	</div>
</section>

<script>
	const list = document.querySelectorAll('.list');
	function activeLink() {
		list.forEach((item) =>
		item.classList.remove('active'));
		this.classList.add('active');
	}
	list.forEach((item) =>
	item.addEventListener('click', activeLink));
</script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/static/js/main.js" th:href="@{/js/main.js}"></script>

</body>
</html>