<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="images/иконка.jpeg" rel="icon">
	<title>Personnel Accounting</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}">
    <link rel="stylesheet" type="text/css" href="/static/js/main.js" th:href="@{/js/main.js}">

	<link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
<header>
	<div class="navigation">
		<ul>
			<li class="list active">
				<a href="#main">
					<span class="icon">
						<ion-icon name="home-outline"></ion-icon>
					</span>
					<span class="text">Home</span>
				</a>
			</li>
			<li class="list">
				<a href="#about">
					<span class="icon">
						<ion-icon name="book-outline"></ion-icon>
					</span>
					<span class="text">About</span>
				</a>
			</li>
			<li class="list">
				<a href="#body1">
					<span class="icon">
						<ion-icon name="person-outline"></ion-icon>
					</span>
					<span class="text">Accounts</span>
				</a>
			</li>
			<li class="list">
				<a href="#contact">
					<span class="icon">
						<ion-icon name="mail-outline"></ion-icon>
					</span>
					<span class="text">Contact</span>
				</a>
			</li>
			<li class="list">
				<a href="/login">
					<span class="icon">
						<ion-icon name="log-in-outline"></ion-icon>
					</span>
					<span class="text">Login</span>
				</a>
			</li>
			
			<div class="indicator"></div>
		</ul>
	</div>
</header>


<div class="main" id="main">
	<div class="navbar">
		<div class="icon1">
			<h2 class="logo"><div class="brand"><h1><span>C</span>heck<span>IT</span></h1></div></h2>
		</div>
	</div>

	<br>
	<br>

	<div class="content">
		<h1>Personnel Accounting</h1>
		<p class="par">Personnel Accounting is related to the construction of labor relations between <br> an employer and an employee. It includes registration of vacations, tax deductions, <br> hiring and dismissal. Personnel accounting is mandatory for any company, without <br> exceptions in terms of organizational and legal form and size of staff.</p>

		<button class="cn"><a href="#about"> LEARN MORE</a></button>
	</div>
</div>
	
	
<section class="about" id="about">
	<div class="contentBx">
		<h2 class="heading">About Us</h2>
		<p class="text">HR accounting is the work of registering, accounting and monitoring the movement of employees of the company, which is regulated by law. It involves documenting the admission, transfer, and dismissal of employees, sick leave, business trips, timesheets, vacations, personal cards. Some forms are unified, others are developed in the company. 
		<br>
		<br>
		Personnel accounting is kept on the basis of primary personnel documentation and internal regulations of the company. In their work, personnel officers are guided primarily by the Labor Code. Besides him, there are several other basic sources.
		</p>
	</div>
	<div class="imgBx">
		<img src="images/note1.jpg" width="350" height="350" style="position: absolute; top: 60px; right: 200px; border-radius: 20%;">
	</div>
</section>

<div class="body1" id="body1">
	<div class="container1">
		<div class="card">
			<div class="content1">
				<h2>Director</h2>
				<p>Director must see and have access to all reports, the ability to delete, update some expenses, delete, add an employee, raise or lower an employee's salary.</p>
			</div>
			<img src="images/Aidar.png">
		</div>
		<div class="card">
			<div class="content1">
				<h2>HR Manager</h2>
				<p>HR Manager should have an idea about employees, add a new employee, delete, make personnel changes, etc.</p>
			</div>
			<img src="images/Ersa.png">
		</div>
		<div class="card">
			<div class="content1">
				<h2>Worker</h2>
				<p>Workers of the organization will have to be able to see their work schedule, their wages, if there is a bonus, then see their bonus as well.</p>
			</div>
			<img src="images/Исма.png">
		</div>
	</div>
</div>

<br>
<section id="contact">
	<div class="contact container">
		<div><h1 class="section-title" style="font-size: 3rem;">Contact <span>Info</span></h1></div>
		<div class="contact-items">
			<div class="contact-item">
				<div class="icon"><img src="images/phone.png"></div>
				<div class="contact-info">
					<h1>Phone</h1>
					<h2>+996 (500) 174-535</h2>
					<h2>+996 (755) 069-551</h2>
					<h2>+996 (556) 755-330</h2>
				</div>
			</div>
			<div class="contact-item">
				<div class="icon"><img src="images/mail.png"></div>
				<div class="contact-info">
					<h1>Email</h1>
					<h2>ersultan270502@gmail.com</h2>
					<h2>sharshenkulov.1@gmail.com</h2>
					<h2>iahmetov02@gmail.com</h2>
				</div>
			</div>
			<div class="contact-item">
				<div class="icon"><img src="images/address.png"></div>
				<div class="contact-info">
					<h1>Address</h1>
					<h2>Bishkek, Kyrgyzstan</h2>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93561.92088029464!2d74.52182105666849!3d42.876853704090614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7dc91b3c881%3A0x492ebaf57cdee27d!2z0JHQuNGI0LrQtdC6!5e0!3m2!1sru!2skg!4v1639466059864!5m2!1sru!2skg" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="footer">
	<div class="footer container">
		<div class="brand"><h1><span>C</span>heck<span>IT</span></h1></div>
		<br>
		<div class="social-icon">
			<div class="social-item">
				<a href="#"><img src="images/instagram.png"></a>
			</div>
			<div class="social-item">
				<a href="#"><img src="images/twitter.png"></a>
			</div>
			<div class="social-item">
				<a href="#"><img src="images/facebook.png"></a>
			</div>
		</div>
		<p>Copyright © ERISA. All right reserved</p>
	</div>
</section>

<script>
	const list = document.querySelectorAll('.list');
	function activeLink() {
		list.forEach((item) =>
		item.classList.remove('active'));
		this.classList.add('active');
	}
	list.forEach((item) =>
	item.addEventListener('click', activeLink));
</script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/static/js/main.js" th:href="@{/js/main.js}"></script>

</body>
</html>