<!DOCTYPE html>
<html lang=xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/images/иконка.jpeg" th:href="@{images/иконка.jpeg}" rel="icon">
	<title>Authorization</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.bundle.js" th:href="@{/js/bootstrap.bundle.js}">
    <link rel="stylesheet" type="text/css" href="/static/js/main.js" th:href="@{/js/main.js}">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>

	<div class="main" id="main">
		<div class="navbar">
			<div class="icon1">
				<h2 class="logo"><div class="brand"><h1><span>C</span>heck<span>IT</span></h1></div></h2>
			</div>
		</div>

		<br>
		<br>

		<div class="content">
			<h1>Personnel Accounting</h1>
			<p class="par">Personnel Accounting is related to the construction of labor relations between <br> an employer and an employee. It includes registration of vacations, tax deductions, <br> hiring and dismissal. Personnel accounting is mandatory for any company, without <br> exceptions in terms of organizational and legal form and size of staff.</p>

			<form class="form" th:action="@{/login}" method="post">
				<h2>Login Here</h2>
				<input type="username" name="username" placeholder="Username">
				<input type="password" name="password" placeholder="Password">
				<button class="btnn" type="submit" value="submit">Login</button>
				<button class="btnn2"><a href="/" style="text-decoration: none; color: black;">Cancel</a></button>
				<div th:if="${param.error}">
					Invalid username and password.
				</div>
				<div th:if="${param.logout}">
					You have been logged out.
				</div>
			</form>
		</div>
	</div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" th:href="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js}"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" th:href="@{https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js}"></script>
<script src="/static/js/main.js" th:src="@{/static/js/main.js}"></script>
</body>
</html>