<!DOCTYPE html>
<html lang=xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Worker</title>

    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbars/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap1.min.css" th:href="@{/css/bootstrap1.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <script>
        $(document).on('click',function(){
            $('.navbar .collapse').collapse('hide');})
    </script>
    <script src="/static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js "></script>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <img src="/static/images/employee.png" th:src="@{/images/employee.png}" class="img logo rounded-circle mb-5">
            <div class="row centered" style="margin-top: -30px;">
                <p>Worker's account</p>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="text-decoration: none;">My Functions</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#" style="text-decoration: none;">1. My position</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">2. My schedule</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">3. My reward</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">4. My Salary</a>
                        </li>
                        <li>
                            <a href="#" style="text-decoration: none;">5. Salary per year</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/worker/about" style="text-decoration: none;">About</a>
                </li>
                <li>
                    <a href="/worker/portfolio" style="text-decoration: none;">Portfolio</a>
                </li>
                <li>
                    <a href="https://t.me/joinchat/M575m1IJELhlNWYy" style="text-decoration: none;">Contact</a>
                </li>
                <br><br><br><br><br><br><br><br><br><br>
            </ul>
        </div>
    </nav>

    <div id="content" class="p-4 p-md-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/worker">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/worker/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/worker/portfolio">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://t.me/joinchat/M575m1IJELhlNWYy">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1 class="mb-4">Welcome, [[${worker_name}]]</h1>

        <h2>We are glad to welcome you today. I wish you a productive working day!</h2>

        <div class="row">
            <h4>Your salary is [[${worker_salary}]]</h4>
            <h4>Your time of work is [[${worker_time_of_work}]] </h4>
            <h4>Your weekend is [[${worker_weekend}]]</h4>

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="/static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="/static/js/popper.js" th:src="@{/js/popper.js}"></script>
<script src="/static/js/bootstrap1.min.js" th:src="@{/js/bootstrap1.min.js}"></script>
<script src="/static/js/main.js" th:src="@{/js/main.js}"></script>

</body>
</html>